/*
Error: Invalid CSS after "...secondary-2-0: ": expected expression (e.g. 1px, bold), was "# ;	// Main Sec..."
        on line 14 of src/sass/_colors.scss
        from line 1 of src/sass/main.scss

9: $color-secondary-1-1: #91F7AC;
10: $color-secondary-1-2: #60E784;
11: $color-secondary-1-3: #02B131;
12: $color-secondary-1-4: #086A21;
13: 
14: $color-secondary-2-0: # ;	// Main Secondary color (2) *\/
15: $color-secondary-2-1: #FFA296;
16: $color-secondary-2-2: #FF7C6B;
17: $color-secondary-2-3: #ED1E03;
18: $color-secondary-2-4: #8E190A;
19: 

Backtrace:
src/sass/_colors.scss:14
src/sass/main.scss:1
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1207:in `expected'
/usr/lib/ruby/vendor_ruby/sass/script/lexer.rb:229:in `expected!'
/usr/lib/ruby/vendor_ruby/sass/script/parser.rb:710:in `assert_expr'
/usr/lib/ruby/vendor_ruby/sass/script/parser.rb:75:in `parse'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1063:in `sass_script'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:630:in `variable'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:684:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:677:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:125:in `stylesheet'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:41:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:406:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:312:in `to_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:88:in `block in with_import'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:88:in `with_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:325:in `visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:168:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:188:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:159:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:298:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:473:in `on_file_changed'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:331:in `block in watch'
/usr/lib/ruby/vendor_ruby/listen/event/config.rb:23:in `call'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:115:in `_process_changes'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:19:in `block in loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:84:in `_wait_for_changes'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:42:in `block in setup'
/usr/lib/ruby/vendor_ruby/listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...secondary-2-0: \": expected expression (e.g. 1px, bold), was \"# ;	// Main Sec...\"\A         on line 14 of src/sass/_colors.scss\A         from line 1 of src/sass/main.scss\A \A 9: $color-secondary-1-1: #91F7AC;\A 10: $color-secondary-1-2: #60E784;\A 11: $color-secondary-1-3: #02B131;\A 12: $color-secondary-1-4: #086A21;\A 13: \A 14: $color-secondary-2-0: # ;	// Main Secondary color (2) */\A 15: $color-secondary-2-1: #FFA296;\A 16: $color-secondary-2-2: #FF7C6B;\A 17: $color-secondary-2-3: #ED1E03;\A 18: $color-secondary-2-4: #8E190A;\A 19: "; }
