@font-face{
    font-family: Satisfy;
    src: url(../resources/Satisfy/Satisfy-Regular.ttf);
    font-weight: normal;
}

@font-face{
    font-family: Mukta;
    src: url(../resources/Mukta/Mukta-Regular.ttf);
    font-weight: normal;
}

@font-face{
    font-family: Mukta;
    src: url(../resources/Mukta/Mukta-Bold.ttf);
    font-weight: bold;
}

@font-face{
    font-family: Mukta;
    src: url(../resources/Mukta/Mukta-Medium.ttf);
    font-weight: 500;
}