// menu vars
$menu-width: 300pt !default;

// btn
$btn-width: 100pt !default;
$btn-padding: 10pt;
$btn-font-size: 1.3em;

// font base
$font-base-size: 1.1em;
$line-height: 10pt;
$font-family: Lato !default;
$alter-font: Satisfy;
$h1-size: 5em;
$h2-size: 4.5em;

// inputs
$input-font-size: 1.2em;
$input-min-width: 50pt;
$input-padding: 10pt;


