@import 'fucntions/ctn', 'fonts','colors', 'vars', 'gradients';
@import 'menu', 'inputs', 'container', 'texts', 'btns';
@import 'grid', 'cards';

*{
    font-family: Mukta;
}

body{
    background: $body-background;
    position: fixed;
    right: 0;
    top: 0;
    left: $menu-width;
    min-height: 100vh;
}