python-dateutil
exifread
Crypto
bottle==0.12.16
bottle-websocket==0.2.9
certifi==2019.3.9
chardet==3.0.4
clarifai==2.6.1
configparser==3.7.4
Eel==0.10.4
future==0.17.1
gevent==1.4.0
gevent-websocket==0.10.1
googleapis-common-protos==1.5.9
greenlet==0.4.15
grpcio==1.19.0
idna==2.8
jsonschema==2.6.0
protobuf==3.7.1
pycrypto==2.6.1
requests==2.21.0
six==1.12.0
urllib3>=1.24.1
whichcraft==0.5.2
