//// All buttons content
//// @author Marck C. Guzmán
%btn-base {
    display: inline-block;
    padding: $btn-pd-tb $btn-pd-rl;
    text-transform: uppercase;
    min-width: $btn-min-width;
    color: $black;
    font-size: $base-font-size * 0.8;
    outline: none;
    margin: 10px 10px;
    cursor: pointer;
    text-align: center;
    transition: all .7s;
    text-decoration: none;

    * {
        transition: all .7s;
    }

    font-weight: bold;
}

%btn-outline-gradient {
    @extend %btn-base;

    padding: 2px !important;

    @include radious($btn-border-radious);

    .btn {
        min-width: $btn-min-width;
        display: block;
        padding: $btn-pd-tb 20px;
        background: white;

        @include radious($btn-border-radious);

        text-decoration: none;

        &:hover {
            background: transparent;

            * {
                color: white;
            }
        }
    }
}
