//// All buttons content
//// @author Marck C. Guzmán
%btn-base {
    display: inline-block;
    padding: $btn-pd-tb $btn-pd-rl;
    text-transform: uppercase;
    min-width: $btn-min-width;
    color: $black1;
    font-size: $base-font-size * 0.8;
    outline: none;
    margin: 10px 10px;
    cursor: pointer;
    text-align: center;
    transition: all .7s;
    text-decoration: none;

    * {
        transition: all .7s;
    }

    font-weight: bold;
}

%btn-outline-gradient {
    @extend %btn-base;

    padding: 2px !important;

    @include radious($btn-border-radious);

    .btn {
        min-width: $btn-min-width;
        display: block;
        padding: $btn-pd-tb 20px;
        background: white;

        @include radious($btn-border-radious);

        text-decoration: none;

        &:hover {
            background: transparent;

            * {
                color: white;
            }
        }
    }
}

// ############## FUNCTIONS ##############
/// Make a simple buton from a template
/// @param {color} $hoverColor [#444] btn's hover background color
/// @param {boolean} $borderRadius [false]  if you want a radius btn
/// @param {boolean} $border [false] if you want to see the btn's border
/// @param {color} $mainColor [#fff] default background color
/// @param {list} $borderStyle [solid 1px]

@mixin makeBtn($hoverColor: #444, $borderRadius: false, $border: false, $mainColor: #fff, $borderStyle: solid 1px) {
    @extend %btn-base;

    background: $mainColor;
    color: $hoverColor;

    @if $borderRadius {
        border-radius: 20px;
    }

    @if $border {
        border: $borderStyle $hoverColor;
    }
    @else {
        border: none;
    }

    &:hover {
        background: $hoverColor;
        color: $mainColor;

        @content;
    }
}

/// make a outline btn
/// btn structure: div>*[class=$interlClass]>*[text]
/// @param {*} $direction [20deg] gradient direction
/// @param {string} $internalClass [".btn"] set the internal class of the btn
/// @param {list} $colors... gradient colors

@mixin makeOutLineGradientBtn($direction: 20deg, $colors...) {
    @extend %btn-outline-gradient;

    background: linear-gradient($direction, $colors...);

    .btn {
        * {
            @include linear-gradient-text($direction, $colors...);
        }
    }
}

/// 
/// @param {color} $hoverTxtColor 
/// @param {boolean} $radius if want a round btn
/// @param {*} $direction gradient direction
/// @param {list} $colors... colors of gradient

@mixin makeGradientBtn($hoverTxtColor, $radius, $direction, $colors...) {
    @include makeBtn(#fff, $radius);

    background: linear-gradient($direction, $colors...) !important;
    color: white !important;

    &:hover {
        color: $hoverTxtColor !important;
        background: transparent !important;
        transform: scale(1.2);
    }
}

// ############# CLASSES #############//
.btn-normal {
    @include makeBtn(#444);
}

.btn-outline {
    @include makeBtn(#444, false, true);
}

.btn-radius {
    @include makeBtn(#444, true, false);
}

.btn-radius-outline {
    @include makeBtn(#444, true, true);
}

// ############ OUTLINE GRADIENT ############
.btn-gradient-blue-outline {
    @include makeOutLineGradientBtn($g-blue-base 0%, $g-blue-acent 120%);
}

.btn-gradient-red-outline {
    @include makeOutLineGradientBtn($g-red-base 0%, $g-red-acent 120%);
}

.btn-gradient-orange-outline {
    @include makeOutLineGradientBtn($g-orange-base 0%, $g-orange-acent 120%);
}

.btn-gradient-yellow-outline {
    @include makeOutLineGradientBtn($g-yellow-base 0%, $g-yellow-acent 120%);
}

.btn-gradient-purple-outline {
    @include makeOutLineGradientBtn($g-purple-base 0%, $g-purple-acent 120%);
}

.btn-gradient-green-outline {
    @include makeOutLineGradientBtn($g-green-base 0%, $g-green-acent 120%);
}

// ############ GRADIENT BTN ############
.btn-gradient-blue {
    @include makeGradientBtn($g-blue-base, false, 20deg, $g-blue-base 0%, $g-blue-acent 120%);
}

.btn-gradient-orange {
    @include makeGradientBtn($g-orange-base, false, 20deg, $g-orange-base 0%, $g-orange-acent 120%);
}

.btn-gradient-purple {
    @include makeGradientBtn($g-purple-base, false, 20deg, $g-purple-base 0%, $g-purple-acent 120%);
}

.btn-gradient-yellow {
    @include makeGradientBtn($g-yellow-base, false, 20deg, $g-yellow-base 0%, $g-yellow-acent 120%);
}

.btn-gradient-red {
    @include makeGradientBtn($g-red-base, false, 20deg, $g-red-base 0%, $g-red-acent 120%);
}

.btn-gradient-green {
    @include makeGradientBtn($g-green-base, false, 20deg, $g-green-base 0%, $g-green-acent 120%);
}

// ############### GRADIENT BTN RADIUS ###############
.btn-gradient-blue-radius {
    @include makeGradientBtn($g-blue-base, true, 20deg, $g-blue-base 0%, $g-blue-acent 120%);
}

.btn-gradient-orange-radius {
    @include makeGradientBtn($g-orange-base, true, 20deg, $g-orange-base 0%, $g-orange-acent 120%);
}

.btn-gradient-purple-radius {
    @include makeGradientBtn($g-purple-base, true, 20deg, $g-purple-base 0%, $g-purple-acent 120%);
}

.btn-gradient-yellow-radius {
    @include makeGradientBtn($g-yellow-base, true, 20deg, $g-yellow-base 0%, $g-yellow-acent 120%);
}

.btn-gradient-red-radius {
    @include makeGradientBtn($g-red-base, true, 20deg, $g-red-base 0%, $g-red-acent 120%);
}

.btn-gradient-green-radius {
    @include makeGradientBtn($g-green-base, true, 20deg, $g-green-base 0%, $g-green-acent 120%);
}
