// COLORS
$white: #fff;
$black: #000;
$gray: #8C8C8C;

// orange
$orange: #ffb222;

// yellow
$yellow: #ff0;

// red
$red: #FB4343;

// blue
$blue: #1C9AD9;

// blue dark
$blue-dark: #1C5380;

// cian
$cian: #61D6FF;

// teal
$teal: #37e4aa;

// green
$green: #29e429;

// purple
$purple: #bc34e6;

// pink
$pink: #e939e9;

// ========================================================================== //
//                                  GRADIENTS                                 //
// ========================================================================== //

$g-blue-base: $blue-dark;
$g-blue-acent: $cian;

$g-red-base: $red;
$g-red-acent: $orange;

$g-green-base: $green;
$g-green-acent: $teal;

$g-orange-base: $orange;
$g-orange-acent: $yellow;

$g-purple-base: $purple;
$g-purple-acent: $pink;

// END COLORS

$max-tone: 5 !default;
$tone-step: 6 !default;

$theme-color: ("gray": $gray, "orange": $orange, "yellow": $yellow, "red": $red, "blue": $blue, "darkblue": $blue-dark);
$gradients: ("blue": ($g-blue-base, $g-blue-acent), "red": ($g-red-base, $g-red-acent), "green": ($g-green-base, $g-green-acent), "orange": ($g-orange-base, $g-orange-acent), "purple": ($g-purple-base, $g-purple-acent));

// ========================================================================== //
//                                   CLASSES                                  //
// ========================================================================== //

/* ========================================================================== */
/*                                 -| TEXT |-                                 */
/* ========================================================================== */

@each $name, $color in $theme-color {
    // set the light colors
    @for $i from $max-tone * -1 to 0 {
        .text-#{$name}-lighten#{$i} {
            color: lighten($color: $color, $amount: $i * $tone-step * -1) !important;
        }
    }

    // main color
    .text-#{$name} {
        color: $color !important;
    }

    // darken colors
    @for $i from 1 to $max-tone + 1 {
        .text-#{$name}-darken-#{$i} {
            color: darken($color: $color, $amount: $i * $tone-step) !important;
        }
    }
}

.text-white {
    color: $white !important;
}

.text-black {
    color: $black !important;
}

/* ========================================================================== */
/*                              -| BACKGROUNDS |-                             */
/* ========================================================================== */
@each $name, $color in $theme-color {
    // set the light colors
    @for $i from $max-tone * -1 to 0 {
        .#{$name}-lighten#{$i} {
            background: lighten($color: $color, $amount: $i * $tone-step * -1) !important;
        }
    }

    // main color
    .#{$name} {
        background: $color !important;
    }

    // darken colors
    @for $i from 1 to $max-tone + 1 {
        .#{$name}-darken-#{$i} {
            background: darken($color: $color, $amount: $i * $tone-step) !important;
        }
    }
}

.white {
    background: $white !important;
}

.black {
    background: $black !important;
}
