// ########## FONTS ##########
$big-title-size: 150px;
$base-font-size: 1.05em;
$default-font: Arial;
$code-font: monospace;

// ########## SIZES ##########

$section-width: 100%;
$section-padding-pc: 10%;
$section-padding-tablet: 5%;

// ######### MEDIA SIZES #########
$phone: 800px;
$tablet: 1200px;

// ######### BTNS SETTINGS #########
$btn-pd-rl: 20px; // padding right and left
$btn-pd-tb: 10px; // padding top and bottom
$btn-border-radious: 20px;
$btn-min-width: 150px;
