@import "vars";

@import "colors";

@import "functions";
@import "mixin/gradients";

@import "class";

body,
div {
    margin: 0;
    padding: 0;
}

.fadeIn {
    display: none;
}

@import "texts";

@import "butons";

@import "inputs";
