/// All grid related mixin for the row and table system
/// @author Marck C. Guzmán <marck.guzman.dev@gmail.com>

/// Make a simple flex box for the row system
/// @param {*} $direction [row] 
/// @param {*} $wrap [wrap] 
/// @param {*} $contentAlign [flex-start] 
/// @param {*} $itemsAlign [flex-start] 
/// @param {*} $justify [flex-start] 
/// @content object styles

@mixin makeFlexBox($direction: row, $wrap: wrap, $contentAlign: flex-start, $itemsAlign: flex-start, $justify: flex-start) {
    flex-direction: $direction;
    flex-wrap: $wrap;
    display: flex;
    align-content: $contentAlign;
    align-items: $itemsAlign;
    justify-content: $justify;

    @content;
}

/// Make a simple flex item
/// @param {*} $totalWidth flex box width
/// @param {number} $num number of items
/// @param {*} $margin [0] 
/// @param {*} $grow [1] 
/// @param {*} $shrink [1]

@mixin makeFlexItem($totalWidth, $num, $margin: 0, $grow: 1, $shrink: 1) {
    flex-grow: $grow;
    flex-shrink: $shrink;
    @if $margin != 0pt {
        margin-left: $margin / 2;
        margin-right: $margin / 2;
        $width: calc( #{$totalWidth} - $margin );
    }
    @else{
        $width: $totalWidth
    }
    width: $width;
}

// TODO: Make more options
@mixin makeCol {
    @include makeFlexBox(colum);
}
